body {
    font-family: 'Mukta', sans-serif;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
}

h2 {
 font-size: 32px;
}

h3 {
    font-size: 18px;
    color: #7140D9;
}

p {
    text-align: justify;
}

.blue-color {
    color: #7140D9;
}

.half-width {
    width: 50%;
    padding: 15px;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: #7140D9;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
}

.banner-area {
    display: flex;
    margin-bottom: 60px;
}

.experience {
    margin-left: 30px;
}

.border-style {
    width: 50%;
    margin: 0 30px;
    padding: 0 20px;
    box-shadow: 15px 15px 15px grey;
}

#box {
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.footer p {
    text-align: center;
}

.top-banner {
    background-image: url("../images/top-banner-final-image-1.png");
    background-repeat: no-repeat;
}

.middle-banner {
    background-image: url(../images/dream-bg-final-image-1.png);
    background-repeat: no-repeat;
}

.experience-banner {
    background-image: url(../images/exp-bd-final-image-1.png);
    background-repeat: no-repeat;
    background-position: right;
}